* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;


}
.wrapper {
    position: relative;
    min-height: 100%;
    overflow: hidden;
} 

.container {
    padding: 1.5rem 5rem;
    background-color: #EEEFF0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(211, 211, 211);
    
}

.title {
    text-align: center;
    font-size: 26px;
    color: rgb(73, 46, 170)

}

.form {
    line-height: 2rem;
    margin-top: 2rem;
    padding: 3rem 4rem;
    background-color: rgb(245, 240, 240);
    box-shadow: 0 1rem 1rem rgba(49, 49, 66, .3);
}



label {
    font-size: 19px;
    color: rgb(49, 49, 66);
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

input {
    padding: 1rem;
    width: 28rem;
    border-radius: 3px;
    border: 1px solid rgba(49, 49, 66, .3)
}

.button-wrapper {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit-btn {
    border-radius: 3px;
    background-color:rgb(211, 82, 153);
    color: white;
    border: none;
    padding: .9rem;
    cursor: pointer;
    width: 10rem;
    font-size: 19px;
}

.submit-btn:hover {
    background-color:rgb(170, 47, 115);
    transform: translateY(-.1rem);

}

.warning-first-name,
.warning-last-name,
.warning-email,
.warning-password,
.warning-phone,
.warning-bio {
    color: rgb(235, 150, 22);
    font-weight: 700;
    font-size: 19px;
    

}

input:focus {
    outline: none;
}
.warning {
    border: 2px solid rgb(218, 62, 62);
}

.ticked {
    border: 2px solid rgb(82, 211, 136);
}

.validated {
    background-color: rgb(0, 255, 98);
}

